{% load wysiwyg %}
{% wysiwyg_setup %}
<h2>Новая публикация</h2>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'blog:create_post' %}">
        {% csrf_token %}
        <p><b>Заголовок: </b></p>{{ form.title }}
{#        при рендере текстового поля через {{form_text}} wysywyg не дает отправвляться post-запросу, использование textarea - вынужденный костыль #}
        <textarea id="id_text" name="text" placeholder="Введите текст"></textarea>
        <input type="submit" value="Добавить">
    </form>
{% else %}
    <p>Войдите, чтобы добавить новую публикацию.</p>
{% endif %}
{% wysiwyg_editor "id_text" %}
