{% extends 'base.html' %}
{% block content %}
    {% if request.user == comment.author or request.user == comment.post.author %}
        <p>Вы уверены, что хотите удалить комментарий?</p>
        <form action="{% url 'blog:delete_comment' comment.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Да">
{#            <input type="button" value="Нет" onclick="location.href={% url 'blog:profile' request.user %}">#}
        </form>
        <a href={% url 'blog:post' comment.post.author.username comment.post.pk %}>
            <button>Нет</button>
        </a>
    {% else %}
        <p> Вы не являетесь автором комментария </p>
    {% endif %}
{% endblock content %}