{% extends 'base.html' %}
{% block content %}
    {% if request.user == post.author %}
        <p>Вы уверены, что хотите удалить публикацию?</p>
        <form action="{% url 'blog:delete_post' post.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Да">
{#            <input type="button" value="Нет" onclick="location.href={% url 'blog:profile' request.user %}">#}
        </form>
        <a href={% url 'blog:profile' request.user.username %}>
            <button>Нет</button>
        </a>
    {% else %}
        <p> Вы не являетесь автором данной публикации </p>
    {% endif %}
{% endblock content %}