{% extends 'base.html' %}
{% load wysiwyg %}
{% wysiwyg_setup %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h2>{{ post.title }}</h2>
    {% if request.user == post.author %}<a href={% url 'blog:delete_post' post.id %}>Удалить</a>{% endif %}
    <p><i>Автор: {{ post.author }}</i></p>
    <p><i>Дата: {{ post.date_created }}</i></p>
    {{ post.text|safe }}
    <hr/>

    <p>Комментарии ({{ post.comment_set.all.count }})</p>
    <table>
        {% for comment in post.comment_set.all %}
            <tr>
                <td><i><a href={% url 'blog:profile' comment.author %}> {{ comment.author }}</a>
                    ({{ comment.date_created }})</i></td>
            </tr>
            <tr>
                <td><p>{{ comment.text }}</p></td>
                {% if request.user == post.author or request.user == comment.author %}
                    <td>
                        <a href={% url 'blog:delete_comment' comment.id %}>Удалить</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'blog:post' post.author post.id %}">
            {% csrf_token %}
            <textarea maxlength="1000" id="id_text" name="text" placeholder="Введите текст комментария"></textarea>
            <input type="submit" value="Отправить">
        </form>
    {% else %}
        <p>Войдите, чтобы оставить комментарий</p>
    {% endif %}
{% endblock content %}