<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<a href={% url 'blog:main' %}>Главная</a>
{% if user.is_authenticated %}
    <a href={% url 'blog:create_post' %}>Новая публикация</a>
    <a href={% url 'blog:profile' request.user %}>Мой профиль</a>
    <a href={% url 'blog:logout' %}>Выход</a>
{% else %}
    <a href={% url 'blog:login' %}>Войти</a>
{% endif %}
<hr/>
{% block content %}{% endblock content %}
</body>
</html>

