{% extends 'base.html' %}
{% block content %}
<h1>Логин</h1>
<form method="post" action="{% url 'blog:login' %}">
{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Войти">
</form>
{% endblock content %}