{% extends 'base.html' %}
{% load pagination_tags %}
{% block title %}Главная{% endblock title %}
{% block content %}

    {% if post_list %}
        {% autopaginate post_list 5 %}
        <table>
        {% for post in post_list %}
            <tr>
                <td><h4><a href={% url 'blog:post' post.author post.id %}>{{ post.title }}</a></h4></td>
            </tr>
            <tr>
                <td><i><a href={% url 'blog:profile' post.author %}>{{ post.author }}</a> ({{ post.date_created }})</i></td>
            </tr>
            <tr>
                <td>{{ post.get_preview|safe }}<br/></td>
            </tr>
        {% endfor %}
        </table>
        <br/>
        {% paginate %}

    {% else %}
        <p>Публикаций нет.</p>
    {% endif %}
{% endblock content %}