{% extends 'base.html' %}
{% load pagination_tags %}
{% block title %}{{ myuser.username }}{% endblock title %}
{% block content %}
    <h2>{{ myuser.username }}</h2>
    <p>Зарегистрирован {{ myuser.date_joined }}</p>
    <p>{% if myuser.first_name %}{{ myuser.first_name }}{% endif %}
        {% if myuser.last_name %}{{ myuser.last_name }}{% endif %}
    </p>
    <hr/>

    {% if myuser.post_set.all %}
    <p><b>Публикации пользователя:</b></p>
    {% autopaginate myuser.post_set.all 5 %}
    <table>
        {% for post in myuser.post_set.all %}
            <tr>
                <td><h4><a href="{% url 'blog:post' post.author post.id %}">{{ post.title }}</a>
                    ({{ post.date_created }})</h4></td>
            </tr>
            <tr>
                <td>
                    <p>{{ post.get_preview }}</p>
                </td>
                {% if request.user == myuser %}
                <td><a href={% url 'blog:delete_post' post.id %}>Удалить</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% paginate %}
    {% endif %}
{% endblock content %}